<div class="plan-wrap wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="600ms">
        <div class="price-title center-heading">
            <h4>Bible Reading</h4>
        </div><!--plan title-->
        <table class="nl">
            <tr class="nl">
                <th class="nl">Family Of..</th>
                <th class="nl">Date</th>
            </tr>
            {% for bibread in site.data.bible_readings %}
            <tr class="nl">
                    <td class="nl">{{bibread.assignment}}  </td>
                    <td class="nl">{{bibread.date | date: "%b %d"}} </td>
                </tr>
            {% endfor %}
        </table>    
        <!--BIBLE READING LIST-->
</div><!--plan wrap-->
