<div class="col-md-6 margin-btm-30">
    <div class="plan-wrap wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="600ms">
        <div class="price-title center-heading">
            <h4>Bible Reading</h4>
        </div><!--plan title-->
        <ul class="plan-features list-unstyled text-center">
        	{% for bibread in site.data.bible_readings %}
                	<li>{{bibread.date}} <i class="fa fa-check"></i> {{bibread.service}} <i class="fa fa-check"></i> {{bibread.celebrant}} </li>
            {% endfor %}
        </ul><!--BIBLE READING LIST-->
    </div><!--plan wrap-->
</div><!--plan col-->