<div class="plan-wrap wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="400ms">
    <div class="price-title center-heading">
        <h4>Bible Study</h4>
    </div><!--plan title-->
    <table>
        <tr>
            <td> Date </td>
            <td> Venue </td>
            <td> Leader </td>
        </tr>
        {% for bibstudy in site.data.bible_studies %}
        <tr>
            <td> {{bibstudy.date}} </td>
            <td> {{bibstudy.venue}} </td>  
            <td> {{bibstudy.leader}} </td>          
        </tr>
        {% endfor %}
    </table>
<!--Bible Study LIST-->
</div>
