<div class="plan-wrap wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="400ms">
    <div class="price-title center-heading">
        <h4>Birthdays</h4>
    </div><!--plan title-->
    <table>
        <tr>
            <td> Name </td>
            <td> Date</td>
        </tr>
        {% for bday in site.data.birthdays %}
        <tr>
            <td> {{bday.name}} </td>
            <td> {{bday.date}} </td>            
        </tr>
        {% endfor %}
    </table>
<!--Birthdays LIST-->
</div>
