<div class="plan-wrap wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="400ms">
    <div class="price-title center-heading">
        <h4>Birthdays</h4>
    </div><!--plan title-->
    <table class="nl">
        <tr class="nl">
            <th class="nl"> Name </th>
            <th class="nl"> Date</th>
        </tr>
        {% for bday in site.data.birthdays %}
        <tr class="nl">
            <td class="nl"> {{bday.name}} </td>
            <td class="nl"> {{bday.date}} </td>            
        </tr>
        {% endfor %}
    </table>
<!--Birthdays LIST-->
</div>
