<div class="plan-wrap wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="400ms">
    <div class="price-title center-heading">
        <h4>Lectionary</h4>
    </div><!--plan title-->
    <table>
        <tr>
            <td> Date</td>
            <td> Title </td>
            <td> Lesson 1 </td>
            <td> Lesson 2 </td>
            <td> Epistle </td>
            <td> Gospel </td>
        </tr>
        {% for lect in site.data.lectionaries %}
        <tr>
            <td> {{lect.date}} </td>
            <td> {{lect.title}} </td>
            <td> {{lect.lesson1}} </td>
            <td> {{lect.lesson2}} </td>
            <td> {{lect.epistle}} </td>
            <td> {{lect.gospel}}  </td>
        </tr>
        {% endfor %}
    </table>
</div>
<!--LECTIONARY LIST-->
