<div class="plan-wrap wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="400ms">
    <div class="price-title center-heading">
        <h4>Lectionary</h4>
    </div><!--plan title-->
    <table class="nl">
        <tr class="nl">
            <th class="nl"> Date</th>
            <th class="nl"> Title </th>
            <th class="nl"> Lesson 1 </th>
            <th class="nl"> Lesson 2 </th>
            <th class="nl"> Epistle </th>
            <th class="nl"> Gospel </th>
        </tr>
        {% for lect in site.data.lectionaries %}
        <tr class="nl">
            <td class="nl"> {{lect.date}} </td>
            <td class="nl"> {{lect.title}} </td>
            <td class="nl"> {{lect.lesson1}} </td>
            <td class="nl"> {{lect.lesson2}} </td>
            <td class="nl"> {{lect.epistle}} </td>
            <td class="nl"> {{lect.gospel}}  </td>
        </tr>
        {% endfor %}
    </table>
</div>
<!--LECTIONARY LIST-->
