<div class="col-md-6 margin-btm-30">
    <div class="plan-wrap popular wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="500ms">
        <div class="price-title center-heading">
            <h4>Misc</h4>
        </div><!--plan title-->
        <ul class="plan-features list-unstyled text-center">
        	{% for misc in site.data.misc %}
                	<li>{{misc.date}} <i class="fa fa-check"></i> {{misc.service}} <i class="fa fa-check"></i> {{misc.celebrant}} </li>
            {% endfor %}
        </ul><!--MISC LIST-->            
    </div><!--plan wrap-->
</div><!--plan col-->