<div class="plan-wrap wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="400ms">
    <div class="price-title center-heading">
        <h4>Misc</h4>
    </div><!--plan title-->
    <table class="nl">
        <tr class="nl">
            <th class="nl"> Date </th>
            <th class="nl"> Time </th>
            <th class="nl"> Program </th>
            <th class="nl"> Info </th>
        </tr>
        {% for misc in site.data.misc %}
        <tr class="nl">
            <td class="nl"> {{misc.date | date: "%b %d"}} </td>
            <td class="nl"> {{misc.time}} </td>  
            <td class="nl"> {{misc.program_name}} </td> 
            <td class="nl"> {{misc.info}} </td>            
        </tr>
        {% endfor %}
    </table>
<!--MISC LIST-->
</div> 
