<div class="plan-wrap wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="400ms">
    <div class="price-title center-heading">
        <h4>Misc</h4>
    </div><!--plan title-->
    <table>
        <tr>
            <td> Date </td>
            <td> Time </td>
            <td> Program </td>
            <td> Info </td>
        </tr>
        {% for misc in site.data.misc %}
        <tr>
            <td> {{misc.date}} </td>
            <td> {{misc.time}} </td>  
            <td> {{misc.program}} </td> 
            <td> {{misc.info}} </td>            
        </tr>
        {% endfor %}
    </table>
<!--MISC LIST-->
</div>
