<div class="plan-wrap wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="400ms">
    <div class="price-title center-heading">
        <h4>Prayer Meetings</h4>
    </div><!--plan title-->
    <table>
        <tr>
            <td> Date </td>
            <td> Venue </td>
        </tr>
        {% for prayer in site.data.prayer_meetings %}
        <tr>
            <td> {{prayer.date}} </td>
            <td> {{prayer.venue}} </td>            
        </tr>
        {% endfor %}
    </table>
<!--Prayer Meeting LIST-->
</div>