<div class="plan-wrap wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="400ms">
    <div class="price-title center-heading">
        <h4>Prayer Meetings</h4>
    </div><!--plan title-->
    <table class="nl">
        <tr class="nl">
            <th class="nl"> Date </th>
            <th class="nl"> Time </th>
            <th class="nl"> Family </th>
            <th class="nl"> Venue </th>
        </tr>
        {% for prayer in site.data.prayer_meetings %}
        <tr class="nl">
            <td class="nl"> {{prayer.date | date: "%b %d"}} </td>
            <td class="nl"> {{prayer.time}} </td>
            <td class="nl"> {{prayer.family}} </td>
            <td class="nl"> {{prayer.venue}} </td>            
        </tr>
        {% endfor %}
    </table>
<!--Prayer Meeting LIST-->
</div>