<div class="plan-wrap wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="400ms">
    <div class="price-title center-heading">
        <h4>Wedding Anniversaries</h4>
    </div><!--plan title-->
    <table>
        <tr>
            <td> Name </td>
            <td> Date</td>
        </tr>
        {% for wedding in site.data.wedding_anniversaries %}
        <tr>
            <td> {{wedding.name}} </td>
            <td> {{wedding.date}} </td>            
        </tr>
        {% endfor %}
    </table>
<!--WEDDING ANNIVERSARIES LIST-->
</div>



