<div class="plan-wrap wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="400ms">
    <div class="price-title center-heading">
        <h4>Worship Schedule</h4>
    </div><!--plan title-->
    <table class="nl">
    	<tr class="nl">
    		<th class="nl"> Date</th>
    		<th class="nl"> Service </th>
    		<th class="nl"> Celebrant/Speaker </th>
    	</tr>
    	{% for wservice in site.data.worship_services %}
    	<tr>
    		<td class="nl"> {{wservice.date | date: "%b %d %Y"}} </td>
    		<td class="nl"> {{wservice.service}} </td>
    		<td class="nl"> {{wservice.celebrant}} </td>
    	</tr>
    	{% endfor %}
    </table>
<!--WORSHIP SERVICES LIST-->
</div><!--plan col-->