---
layout: default
---
<div class="home_container">
 <section id="home" data-stellar-background-ratio="0.5" class="section-padding">
  <!-- <div class="parallax-overlay"></div> --> 
  <div class="home-content text-center">
    <div class="container">
      <!-- <span class="home-top-slide-text hidden-xs">Flexible. creative. responsive</span> -->
      <div class="main-flex-slider">
        <ul class="slides">
          <li>
            <h1>Welcome to <span class="colored-text">Ebenezer</span></h1>
          </li>
          <li>
            <h1><span class="colored-text">Mar Thoma</span> Church</h1>
          </li>
        </ul>
      </div> 
    </div>
  </div>
</section><!--home section end-->

<section id="announcements" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center-heading text-center">
          <h2 class=" wow animated bounceIn"  data-wow-duration="700ms" data-wow-delay="100ms">Announcements</h2>
          <span class="icon"><i class="fa fa-calendar"></i></span> 
        </div><!--center heading-->
      </div>
    </div>
    {% for post in site.posts %}
    {% if post.categories != generic %}
    <div class="divided-50"></div>
    <div class="row">
      <div class="col-sm-10 margin-btm-30 wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="100ms">
       <!-- <div class="item-img-wrap ">
          <img src="img/work-8.png" class="img-responsive" alt="workimg">
          <div class="item-img-overlay">
            <a href="img/work-8.png" class="show-image">
              <span></span>
            </a>
          </div>
        </div>item image hover-->
        <div class="blog-desc">
          <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
          <span>{{ post.date | date: "%b %-d, %Y" }} {{post.categories}} </span>
          <p>
            {{ post.content }}
          </p>
          <p class="text-right">
            <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-dark btn-xs">
              Read More
            </a>
          </p>
        </div><!--blog desc-->

      </div><!--blog post col end-->
    </div>
    {% endif %}
    {% endfor %}  
  </section> <!--End News Section  -->
  <div class="cta-2">
    <div class="container text-center">
        <a href="blog.html" class="btn btn-dark btn-lg wow animated bounceInDown"  data-wow-duration="700ms" data-wow-delay="100ms">Read all Announcements</a>
    </div>
  </div><!--cta 2-->
  <section id="offbearers" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="center-heading text-center">
            <h2>Meet the office bearers</h2>
            <span class="icon"><i class="fa fa-user"></i></span> 
          </div><!--center heading-->
        </div>
      </div><!--center heading-->
      <div class="row officers">
       {% for officer in site.data.office_bearers %} 
       {% include office_bearer.html %}
       {% endfor %}
     </div>
   </div>
 </section><!--End Office Bearers Section-->
 <section id="ministries" class="section-padding">
  <div class="container">
   <div class="row">
    <div class="col-sm-12">
      <div class="center-heading text-center">
        <h2>Ministries</h2>
        <span class="icon"><i class="fa fa-user"></i></span> 
      </div><!--center heading-->
    </div>
  </div><!--center heading-->
</div>
</section><!-- End Ministries Section -->

<section id="contact" class="section-padding">
  <div class="container">
   <div class="row">
    <div class="col-sm-12">
      <div class="center-heading text-center">
        <h2>Contact</h2>
        <span class="icon"><i class="fa fa-user"></i></span> 
      </div><!--center heading-->
    </div>
  </div><!--center heading-->
</div>
</section><!-- End Contact Section -->

</div>
