---
layout: newsletter
title: Newsletter
permalink: /newsletter/
---

{% for post in site.posts %}
	{% if post.categories contains 'newsletter' %}

		    {% include newsletter/top-banner.html %}
		    <div class="row">
		    	{% include newsletter/worship-service.html %}
		    	{% include newsletter/lectionary.html %}
		    	{% include newsletter/birthdays.html %}
		        {% include newsletter/wedding-anniversary.html %}
		        {% include newsletter/prayer-meeting.html %}
		        {% include newsletter/bible-study.html %}
	    		{% include newsletter/misc.html %}
		    </div>
		    <!-- {{ site.time | date_to_long_string | date: "%B %Y"}} -->
	{% endif %}

{% endfor %}
<!--back to top end-->