<section id="about" class="section-padding container">
   <div class="row">
    <div class="col-sm-12 center-heading text-center">
        <h2>About Our Parish</h2>
        <span class="icon"><i class="fa fa-send"></i></span> 
      </div><!--center heading-->
      <div class="row">
	    <div class="col-md-12 text-center">
	        <a id = "jqme" class="lead">
	            If you have any suggestions or comments please click here!
	        </a>
	    </div>
	  </div>
  </div>
	<div class="divided-50"></div>
	<div class="row contact-form">    
	    <div class="col-md-12">
	    	<div class="margin-btm-30 address-info wow animated bounceIn"  data-wow-duration="700ms" data-wow-delay="200ms">
	        	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3010.6668729708726!2d-73.66646!3d41.010664!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2976f4f2f31f7%3A0xda6dc343706ab188!2s406+King+St%2C+Port+Chester%2C+NY+10573!5e0!3m2!1sen!2sus!4v1420221280614" width="100%" height="300" frameborder="0" style="border:0"></iframe>
	        </div>
	        <div class=" margin-btm-30 address-info wow animated bounceIn"  data-wow-duration="700ms" data-wow-delay="200ms">
	            <h3>Parish Info</h3>
	            <p><i class="fa fa-map-marker"></i> Address: 406 King St Port Chester, NY 10573</p>
	            <p><i class="fa fa-phone"></i> Trustee Phone: (914) 330-7254 </p>
              <p><i class="fa fa-phone"></i> Accountant Phone: (914) 494-7336 </p>
	            <p><i class="fa fa-envelope"></i> Email: newyorkebenezermtc@gmail.com</p>
	            <p><strong>Sunday Worship: </strong> 10:00 AM</p>
	            <p><strong>Sunday School: </strong> 09:15 AM</p>
	        </div>
          <div class=" margin-btm-30 address-info wow animated bounceIn"  data-wow-duration="700ms" data-wow-delay="200ms">
              <h3>Parish History</h3>
              <h4> Worship History of Early Marthomites (New York, New Jersey, and Boston):</h4>
              <p>In January 1969, the first Mar Thoma Worship was conducted in Boston, by Rev. Cherian Thomas and in New York in February 1971 by Rev. Thomas Varghese. The first Congregation was formed in Queens, NY in 1972 and a Mar Thoma-CSI Congregation was formed in New York City in September 1973. With an upsurge in migration of Marthomites to the United States, the need for regular Worship became a necessity. A request was sent to the Metropolitan by a group of Marthomites to form a Mar Thoma Congregation in the New York area. The request was published in Sabha Tharaka (1972) as well. At that point, the Mar Thoma Sabha leaders were not in favor of establishing Mar Thoma Parishes in North America (USA), and directed the people to obtain membership in the local Episcopal Churches via Kalpana dated January 8th 1973, from the Most Rev. Dr. Juhanon Mar Thoma Metropolitan.</p>
              <p>In 1976, the first Mar Thoma Congregation in Queens, NY received approval and was named as “The Mar Thoma Congregation of Greater New York”. Rev. K.S. Mathew was appointed as the first Vicar followed by Rev. Thomas George (1977-1979). Rev. Benjamin was appointed as the first full time Vicar in 1979 covering two Sundays for the Mar Thoma Congregation of Greater New York; one Sunday for the Mar Thoma Congregation in Philadelphia and one for the Mar Thoma – CSI Congregation in New York City.</p>
              <p>In 1980, our late Metropolitan, The most Rev. Dr. Alexander Mar Thoma divided the Mar Thoma Church of Greater New York into four parishes:</p>
                <ul>
                  <li>St. Thomas MTC, NY </li>
                  <li>New Jersey MTC </li>
                  <li>Staten Island MTC </li>
                  <li>Epiphany MTC</li>
                </ul>
              <p>Separate services were started in these parishes by the year 1981. The members, who did not join these Parishes, remained as “The Mar Thoma Congregation of Greater New York” and worshiped as an independent group with an amended Certificate of in-corporation in December 21st, 1981.</p>
              <p>After seven years of separation from the Mar Thoma Sabha, the members of the above Congregation agreed to accept the faith and practices of Malankara Mar Thoma Sabha. In 1987 the Congregation received approval from Mar Thoma Saba Synod. His Grace, Late Rt. Rev. Dr. Alexander Mar Thoma Metropolitan named the congregation as “Ebenezer Mar Thoma Church”. At that time, most of the Mar Thoma parishes were in various boroughs of New York; therefore, the Metropolitan permitted the members to establish a Mar Thoma Parish in Westchester County, New York.</p>
              <p>On March 31st 2012, His Grace Rt. Rev. Dr. Joseph Mar Thoma Metropolitan consecrated our church along with our Diocesan Bishop, Rt. Rev. Dr. Geevarghese Mar Theodosius Episcopa. </p>
              <h4> Establishment of Ebenezer Mar Thoma Church:</h4>
              <p>After approval and official formation of Ebenezer MTC in 1987, the community started its Worship at the “United Church of Christ” located at 448 Washington Ave, Pelham, New York. Seventy families regularly attended the worship services under the leadership of Rev. Philip Varghese (Immigrant) as Vicar, and Rev. K.U. Abraham, Doctoral Candidate from Boston University (at present, Rt. Rev. Dr. Abraham Mar Paulose) as Associate Vicar. In those years, we followed the “New York State Article of Incorporation and Article 10 Religious Law”. In 1988, we started with a fulltime resident Bishop, Late Rt. Rev, Dr. Zacharias Mar Theophilus Suffragan Metropolitan. The first Diocesan Centre was at 744 Newton Road, Richboro, Pennsylvania which was later moved to current Sinai Mar Thoma Centre, located at 2320 Merrick Ave, Merrick, NY 11566.</p>
              <p>When we write the history of our church, we cannot ignore the period of 1996 – 2000, a new era of our North American Diocese and Ebenezer Mar Thoma church, the untold story of our sufferings and sacrifice. Even through the trials and tribulations, we were grateful to be the part of the history of Mar Thoma Sabha in North America. We were glad to have the historical judgment which enabled the Diocesan of North America to establish and expand their spiritual and social growth in North America.</p>
              <p>From 1987 until January 2012 we conducted our worship services in different rented spaces:</p>
              <ul>
                <li>1987 - 1996 – Pelham Community Church “United Church of Christ” located at 448 Washington Ave, Pelham, New York.</li>
                <li>1996 - 1999 – Trinity Lutheran Church, 30 Lockwood, New Rochelle</li>
                <li>1999 - 2008 – Korean Presbyterian Church of Westchester, 50 Pintard Ave, New Rochelle, NY</li>
                <li>2008 - 2012 – Trinity Episcopal Church, 1415 Pelhamdale Ave, Pelham, NY 10803</li>
              </ul>
              <p> <b>Present Parish:</b> After 25 years, by the Grace and Mercy of our Lord and Savior Jesus Christ, we purchased a church on January 10th, 2012 at 406 King Street, Port Chester, NY-10573. The Diocesan Bishop, Rt. Rev. Dr. Gee Varghese Mar Theodosius conducted the first divine service on Sunday, January 22, 2012. In addition, our Diocesan Bishop gave us temporary permission to use the present place of worship for worship services until the formal consecration of the church. On 31st March 2012, our late Metropolitan, the Most Rev. Dr. Joseph Mar Thoma consecrated Ebenezer Mar Thoma Church, with Diocesan Episcopa, The Rt. Rev. Dr. Gee Varghese Mar Theodosius. Rev. Benjamin George was the Vicar during purchase, and consecration of our church. </p>
              <p>We received valuable services from the following Vicars during this period:</p>
          </div>
          <div class=" margin-btm-30 address-info wow animated bounceIn"  data-wow-duration="700ms" data-wow-delay="200ms">
              <h3>Former Vicars (Most Recent First)</h3>
              <p> Rev. Biji Mathew </p>
              <p> Rev. Sony Philip </p>
              <p> Rev. Abraham Oommen </p>
              <p> Rev. Benjamin George </p>
              <p> Rev. Johnson C Jacob </p>
              <p> Rev. Johnson Varghese </p>
              <p> Rev. George Mathew </p>
              <p> Rev. Dr. V. S. Varghese (Associate Vicar) </p>
              <p> Rev. Thomas Easow </p>
              <p> Rev. Thomas C Alexander </p>
              <p> Rev. Dr. T. P. Abraham </p>
              <p> Rev. Johnson Varghese </p>
              <p> Rev. Dr. K. U. Abraham (Associate Vicar) (Rt. Rev. Dr. Abraham Mar Paulose) </p>
              <p> Rev. G. Varghese</p>
              <p>1987 -2021, we shared Vicars from our sister Parishes; St. Thomas MTC (1989 – 1994), St. Johns Mar Thoma Church (1994-2000), St. Andrews Mar Thoma Church (2003-2017), Jerusalem MTC/Rochester Prayer Group (2017-2021) as well as received services from immigrant Priests (1987-1989, 2000-2003) and Priests who were Doctoral Candidates from Boston and Princeton Universities (1987-1992, 1999-2003).</p>
          </div>
	     </div>
    </div>
  </section><!-- End Contact Section -->

<script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "8U8M8m8pyLuM3@4tLQ44r.u4y"
  key = "SWyCbwujp2O4s5z109gikVeRnHZ3qUNthalXxvPmf7TcGrE8oMIBKADFL6dQJY"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {     
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
  var x = document.getElementById("jqme");
  x.setAttribute("href", "mailto:"+link+"");
}
//-->
</script><noscript>Sorry, you need Javascript on to email me.</noscript>
