<section id="about" class="section-padding container">
   <div class="row">
    <div class="col-sm-12 center-heading text-center">
        <h2>About Our Parish</h2>
        <span class="icon"><i class="fa fa-send"></i></span> 
      </div><!--center heading-->
      <div class="row">
	    <div class="col-md-12 text-center">
	        <a id = "jqme" class="lead">
	            If you have any suggestions or comments please click here!
	        </a>
	    </div>
	  </div>
	<div class="divided-50"></div>
	<div class="row contact-form">    
	    <div class="col-md-12">
	    	<div class="margin-btm-30 address-info wow animated bounceIn"  data-wow-duration="700ms" data-wow-delay="200ms">
	        	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3010.6668729708726!2d-73.66646!3d41.010664!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2976f4f2f31f7%3A0xda6dc343706ab188!2s406+King+St%2C+Port+Chester%2C+NY+10573!5e0!3m2!1sen!2sus!4v1420221280614" width="100%" height="300" frameborder="0" style="border:0"></iframe>
	        </div>
	        <div class=" margin-btm-30 address-info wow animated bounceIn"  data-wow-duration="700ms" data-wow-delay="200ms">
	            <h3>Parish Info</h3>
	            <p><i class="fa fa-map-marker"></i> Address: 406 King St Port Chester, NY 10573</p>
	            <p><i class="fa fa-phone"></i> Phone: (914) 413-9550</p>
	            <p><i class="fa fa-envelope"></i> Email: ebenezermtcny@gmail.com</p>
	            <p><strong>Sunday Worship: </strong> 9:30 AM</p>
	            <p><strong>Sunday School: </strong> 11:00 AM</p>
	        </div>
          <div class=" margin-btm-30 address-info wow animated bounceIn"  data-wow-duration="700ms" data-wow-delay="200ms">
              <h3>Parish History</h3>
              <p>Ebenezer Mar Thoma Church, New York, established on 1987, Previously this parish was known as’ Congregation of Greater New York’, one of the first Mar Thoma Congregation in USA , established on 1976.</p>
              <p>His Grace, Late Rt. Rev .Dr. Alexander Mar Thoma Metropolitan renamed this Congregation as Ebenezer Mar Thoma Church and the worshipping location was Pelham Community Church, at Washington & High Brook Ave, Pelham, New York. There were seventy families regularly attended the worship service. Rev. George Varghese was our Vicar and Rt. Rev. Dr. Abraham Mar Paulose (Rev.Dr.K.U.Abraham) served as Asst.Vicar.</p>
              <p>When we write the history of our church, we cannot ignore the period of 1996 – 2000, a new era of our North American Diocese and Ebenezer Mar Thoma church, the untold story of our sufferings and sacrifice. Even though we walked through the valley of the shadow of death, we were grateful to be the part of the history of Mar Thoma Sabha in North America. We were glad to have the historical judgment which enabled the Diocesan of North America to establish and expand their spiritual and social growth in North America.</p>
              <p>We thank our late Metropolitan, His Grace Rt. Rev. Dr. Alexander Valiya Metropolitan, our first Diocesan Bishop, Rt. Rev. Dr. Zacharias Mar Theophilus Suffragan for their immense support and guidance</p>
              <p>After 25 years, by the Grace of our Savior Jesus Christ, we have our own church and we have started service on our new parish on January 22nd 2012.</p>
              <p>On March 31st 2012, His Grace Rt. Rev. Dr. Joseph Mar Thoma Metropolitan consecrated our church along with our Diocesan Bishop, Rt. Rev. Dr. Geevarghese Mar Theodosius Episcopa. </p>
	    </div>
    </div>
  </section><!-- End Contact Section -->

<script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "RNRQRFR2DzOQu@lDL7C.OvD"
  key = "jxGqdFOEIm8iPl2eUb1out4HafAn90XpDY7JCTRsNBv5zc3LhkQVgrM6wWSyZK"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {     
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
  var x = document.getElementById("jqme");
  x.setAttribute("href", "mailto:"+link+"");
}
//-->
</script><noscript>Sorry, you need Javascript on to email me.</noscript>
