<section id="ministries" class="section-padding">
  <div class="container">
   <div class="row">
    <div class="col-sm-12">
      <div class="center-heading text-center">
        <h2>Ministries</h2>
        <span class="icon"><i class="fa fa-user"></i></span> 
      </div><!--center heading-->
    </div>
  </div><!--center heading-->
  <div class="row">
    <div class="col-md-6 margin-btm-30 wow animated fadeInLeft"  data-wow-duration="700ms" data-wow-delay="100ms">
        <div class="row">
            <div class="col-md-2">
                <div class="service-icon">
                    <i class="fa fa-image"></i>                                                                      
                </div>
            </div><!--service-icon col-->
            <div class="col-md-10">
                <div class="service-info">
                    <h4>Edavaka Mission</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim.
                    </p>
                </div>
            </div><!--service-info-col-->
        </div>
    </div><!--service-col-->
    <div class="col-md-6 margin-btm-30 wow animated fadeInRight"  data-wow-duration="700ms" data-wow-delay="200ms">
            <div class="row">
                <div class="col-md-2">
                    <div class="service-icon">
                        <i class="fa fa-crop"></i>                                                                      
                    </div>
                </div><!--service-icon col-->
                <div class="col-md-10">
                    <div class="service-info">
                        <h4>Sevika Sangham</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim.
                        </p>
                    </div>
                </div><!--service-info-col-->
            </div>
        </div><!--service-col-->
    </div><!--services-row-->
    <div class="divided-50"></div>
    <div class="row">
        <div class="col-md-6 margin-btm-30 wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="300ms">
            <div class="row">
                <div class="col-md-2">
                    <div class="service-icon">
                        <i class="fa fa-users"></i>                                                                      
                    </div>
                </div><!--service-icon col-->
                <div class="col-md-10">
                    <div class="service-info">
                        <h4>Sunday School</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim.
                        </p>
                    </div>
                </div><!--service-info-col-->
            </div>
        </div><!--service-col-->
        <div class="col-md-6 margin-btm-30 wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="400ms">
            <div class="row">
                <div class="col-md-2">
                    <div class="service-icon">
                        <i class="fa fa-desktop"></i>                                                                      
                    </div>
                </div><!--service-icon col-->
                <div class="col-md-10">
                    <div class="service-info">
                        <h4>Youth Fellowship</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim.
                        </p>
                    </div>
                </div><!--service-info-col-->
            </div>
        </div><!--service-col-->
    </div><!--services-row-->
    <div class="divided-50"></div>
    <div class="row">
    <div class="col-md-6 margin-btm-30 wow animated fadeInUp"  data-wow-duration="700ms" data-wow-delay="300ms">
        <div class="row">
	            <div class="col-md-2">
	                <div class="service-icon">
	                    <i class="fa fa-users"></i>                                                                      
	                </div>
	            </div><!--service-icon col-->
	            <div class="col-md-10">
	                <div class="service-info">
	                    <h4>Sunday School</h4>
	                    <p>
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim.
	                    </p>
	                </div>
	            </div><!--service-info-col-->
	        </div>
	    </div><!--service-col-->
	</div>
</div>
</section><!-- End Ministries Section -->