 <section id="home" data-stellar-background-ratio="0.5" class="banner-top">
  <div class="text-center container main-flex-slider">
	<p style="font: 28px 'Arizonia', Helvetica, sans-serif;"> The heavens are telling of the glory of God; <br/> And their expanse is declaring the work of His hands. </p>
	<p style="font: 18px 'Arizonia', Helvetica, sans-serif;"> -Psalms 19:1 </p>
	<ul class="slides" style="list-style-type: none;">
	    <li>
		    <h1>Welcome to <span class="colored-text">Ebenezer</span></h1>
		    <h1><span class="colored-text">Mar Thoma</span> Church</h1>
	  	</li>
	  	<li></li>
	  	<li>
	  		<h4 style="color: white;"> Service every Sunday at 9:30 AM</h4>
	  	</li>
	</ul>

</div>
</section><!--home section end-->