---
layout: default
---
<div class="post container section-padding">
	<div class="row">
		<div class="col-sm-2 margin-btm-30 hidden-xs">
		    <div class="post-date   text-right">
		        <h2>{{page.date | date:"%-d"}}</h2>
		        <span>{{page.date | date:"%b %Y"}}</span>
		    </div>
		    <div class="post-left-info">
		        <p><i class="fa fa-user"></i> <a href="#">Author</a></p>
		    </div>
		</div>
		<div class="col-sm-10">
		    <div class="blog-post-info">                                  
		        <h3>{{ page.title }}</h3>
		        <ul class="list-inline xs-post-info visible-xs">
		            <li><i class="fa fa-user"></i> <a href="#">Author</a></li>
		        </ul>
		        <p>
		            {{ content }}
		        </p>
		    </div>
		</div>
	</div>

</div>
<a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
<!--back to top end-->
{% include javascript_cluster.html %}